//Colors
$main-bg: #fff;
$yellow: #f7c12d;
$yellow-light: #ffd76b;
$gray: #a5a5a5;
$gray-dark: #404040;

//Fonts:
$main-font: 'Open Sans', sans-serif;
$light-font: 300;
$regular-font: 400;
$main-size: 20px;